body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .simoncanvas{
    padding: 50px;
  }

  #green_btn, #red_btn, #blue_btn, #yellow_btn {
    height: 100px;
    width: 100px;
    margin: 20px;
  }

.changeColor {
  background-color: white !important;
}
